h1, h2 {
    color: rgb(69, 120, 164);
    text-align: center;
    background-color: rgb(185, 192, 199);

}

header {
    background-color: rgb(168, 178, 187);
    background-image: url("Imagenes/images.jpg");
}

img {
    display: block;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(69, 120, 164) ;
}

.fechas {
    font-weight: bold;
}